/* start global rules*/
html{
    scroll-behavior: smooth;
transition: 0.6s;
}
*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: "Cairo",serif;
}
:root{
    --main-color:#260553;
    --main-transation-duration:0.5s;
}
.container{
padding-left: 20px;
padding-right: 20px;
margin-left: auto;
margin-right: auto;

}
@media (min-width: 768px) {
    .container{
        width: 760px;
    }
}
@media (min-width: 991px) {
    .container{
        width: 980px;
    }
}
@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
}
/* end global rules */
body{
    background-color: #eee;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    flex-direction: column;
    margin: 30px auto;
}
form{
   display: flex;
   justify-content: center;
   gap: 10px;
}
@media (max-width: 900px) {
    form{
        flex-direction: column;
    }
}

input[type="text"], 
input[type="email"],
 input[type="number"]{
border: none;
padding: 10px;
border-radius: 5px;

}
input[type="text"]::placeholder,
 input[type="email"]::placeholder,
  input[type="number"]::placeholder{

color: rgb(174, 174, 174);
}
.add-user-btn{
    background-color: #260553;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}
.add-user-btn:hover{
 transform: translateY(-3px);
    cursor: pointer;
    background-color: #1f0743;
}

table{
    margin-top: 20px;
width: 100%;
border-collapse: collapse;
box-shadow: 5px 4px 10px -7px rgb(173, 173, 173);

}
@media (max-width: 500px) {
    table{
       overflow-x: auto;
       display: block;
       width: 100%;
       white-space: nowrap;
       background-color: white;
    }
}

thead tr th{

    background-color: #260553;
    color: white;
    padding: 20px 10px;
    text-align: center;
    
}
tbody{
    border-radius: 5px;
    background-color: white;
}
tbody tr{
    border-bottom: 0.4px solid #9494943a;
}
tbody tr td{
    text-align: center;
    padding: 10px 5px;
    
}
.edit-btn{
    background-color: #28a745;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.6s;
}
.edit-btn:hover{
    transform: translateY(-2px);
    cursor: pointer;
    background-color: #1f7538;
}
.delete-btn{
    background-color: #dc3545;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.6s;
}
.delete-btn:hover{
    transform: translateY(-2px);
    cursor: pointer;
    background-color: #a5222f;
}